@import "../../styles/mixins.scss";

.container {
  margin: 80px 0;
  transition: all 0.3s;
  h3 {
    @include font(700, 42px, 52px);
    margin: 10px 0;
    @include media(xs) {
      @include font(700, 32px, 42px);
    }
  }
  span {
    @include font(700, 16px, 22px);
    color: var(--main-color);
  }
  &:hover {
    transform: translateX(30px);
  }
}
