@import "../../styles/mixins.scss";

.container {
  margin: 100px 0;
  text-align: left;
  position: relative;
  h2 {
    @include font(700, 42px, 52px);
    margin-bottom: 20px;
  }
  article {
    p {
      margin: 20px 0;
      @include font(300, 20px, 34px);
    }
  }
  a {
    display: block;
    width: max-content;
    cursor: pointer;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: var(--main-color);
    border: unset;
    color: var(--white);
    @include font(700, 18px, 20px);
    margin-top: 20px;
    @include media(xs) {
      margin: 20px auto;
    }
  }
  .section_decoration {
    position: absolute;
    top: 50%;
    right: -60px;
    transform: translate(0, -50%);
    z-index: -1;
    @include media(xs) {
      right: -20px;
    }
  }
  @include media(xs) {
    text-align: center;
  }
}
